{% extends 'registration/base.html' %}

{% block content %}
<div class="sign-in-wrap">
  <form method="post">
      {% csrf_token %}
      <h1>Log in</h1>
      <p class="subTitle">Log in to your profile to view and find new matches.</p>
      <div class="textFile">
          {{ form.username.label_tag }}
          {{ form.username }}
          <div class="lineM"></div>
      </div>
      <div class="textFile">
          {{ form.password.label_tag }}
          {{ form.password }}
          <div class="lineM"></div>
      </div>
      <div class="textFile">
          <input type="submit" name="" value="Log in">
      </div>
  </form>
  <p class="notMember">Not a member yet? <a href="{% url 'step0' %}">Sign up</a></p>
  {% endblock %}
</div>
