<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project</title>
        <link rel="stylesheet" href="../assets/css/normalize.css">
        <link rel="stylesheet" href="../assets/css/main.css">
        <link rel="stylesheet" href="../assets/css/sign-in.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <nav>
            <a href="../index.html"><div class="logo"></div></a>
            <!-- <div class="menu">
                <ul>
                    <li><a class="m-mathes active" href="index.html">Matches</a></li>
                    <li><a class="m-profile" href="profile.html">Profile</a></li>
                </ul>
            </div>
            <div class="logOut">
                <a href="#">logout <i class="fas fa-sign-out-alt"></i></a>
            </div> -->
        </nav>
        <section class="container">
            <div class="row">
                <div class="sign-in-wrap">
                    <form class="" action="" method="post">
                        <h1>Log in</h1>
                        <p class="subTitle">Log in to your profile to view and find new matches.</p>
                        <div class="textFile">
                            <label for="">E-mail</label>
                            <input type="email" name="" value="">
                            <div class="lineM"></div>
                        </div>
                        <div class="textFile">
                            <label for="">Password</label>
                            <input type="password" name="" value="">
                            <div class="lineM"></div>
                        </div>
                        <div class="textFile">
                            <input type="submit" name="" value="Log in">
                        </div>
                    </form>
                    <p class="notMember">Not a member yet? <a href="step-1.html">Sign up</a></p>


                </div>
            </div>
        </section>


        <script type="text/javascript" src="../assets/lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="../assets/js/main.js"></script>
    </body>
</html>
