{% extends 'registration/base.html' %}

{% block content %}
<div class="sign-in-wrap steps">
    <p class="subTitle-2">
        What skills do you already have?
    </p>

    <div class="errors">
        {% if form.errors %}
        {% endif %}
    </div>

    <form class="" action="" method="post">
        {% csrf_token %}

        <div class="checkContainer">
            {% for checkbox in form.selected_skills %}

                {{ checkbox.tag }}

                <label for="{{ checkbox.id_for_label }}">
                    <span class="label-name">{{ checkbox }}</span>
                    <div class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 100 125" enable-background="new 0 0 100 100" xml:space="preserve"><g><path d="M50,91C27.393,91,9,72.607,9,50S27.393,9,50,9s41,18.393,41,41S72.607,91,50,91z M50,16   c-18.748,0-34,15.252-34,34c0,18.748,15.252,34,34,34c18.748,0,34-15.252,34-34C84,31.252,68.748,16,50,16z"></path></g><path d="M66.141,39.393c-1.367-1.366-3.582-1.366-4.949,0L47.403,53.182l-6.594-6.594  c-1.367-1.366-3.583-1.366-4.95,0c-1.367,1.367-1.367,3.583,0,4.95l9.066,9.066c0.001,0.001,0.001,0.002,0.002,0.003  c0.684,0.684,1.58,1.025,2.475,1.025l0,0c0,0,0,0,0,0c0.896,0,1.792-0.342,2.475-1.025c0.002-0.002,0.003-0.004,0.004-0.005  l16.258-16.258C67.508,42.976,67.508,40.76,66.141,39.393z"></path></svg>
                    </div>
                </label>

            {% endfor %}
        </div>

        <div class="textFile txtCenter">
            <input type="submit" name="" value="Continue">
        </div>
    </form>

    <p class="go-back"><a href="{% url 'step3'%}">go back</a></p>
</div>
{% endblock %}
