{% extends 'registration/base.html' %}

{% block content %}
<div class="sign-in-wrap steps">
    <p class="subTitle-2">
        What is your study path?
    </p>

    <div class="errors">
        {% if form.errors %}
        {% endif %}
    </div>

    <form class="" action="" method="post">
        {% csrf_token %}

        {{ form }}

        <div class="textFile txtCenter">
            <input type="submit" name="" value="Complete">
        </div>
    </form>

    <p class="go-back"><a href="{% url 'step5'%}">go back</a></p>
</div>
{% endblock %}
