{% extends 'sign-in/base.html' %}

{% block content %}
<p class="subTitle-2">
    What skills do you already have?
</p>
<form class="" action="" method="post">
    <div class="checkContainer">
        {% csrf_token %}
        {% for skill in form %}
        {{skill}}
        {% endfor %}
    </div>
    <div class="textFile txtCenter">
         <input type="submit" name="" value="Continue">
    </div>
</form>
<p class="go-back"><a href="{% url 'step3'%}?next={{request.path}}">go back</a></p>
{% endblock %}
