<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Project</title>
        <link rel="stylesheet" href="static/assets/css/normalize.css">
        <link rel="stylesheet" href="static/assets/css/main.css">
        <link rel="stylesheet" href="static/assets/css/landing-page.css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    </head>
    <body>
        <section class="container bannerTop">
            <div class="center">
                <h1>Find your buddy</h1>
                <p>Meet other students by exchanging knowledge</p>
                <a class="b-white" href="/app/">Get started <i class="fas fa-sign-in-alt"></i></a>
            </div>

        </section>
        <div class="laptop"></div>
        <section class="container how">
            <div class="row txtCenter">
                <div class="title">
                    <h1>How it works</h1>
                </div>
                <div class="steps">
                    <div class="col">
                        <div class="icon ico1"></div>
                        <p>Sign up with your code.berlin email</p>
                    </div>
                    <div class="col">
                        <div class="icon ico2"></div>
                        <p>Mark the skills you have to offer</p>
                    </div>
                    <div class="col">
                        <div class="icon ico3"></div>
                        <p>Mark the skills you want to learn</p>
                    </div>
                    <div class="col">
                        <div class="icon ico4"></div>
                        <p>Let us match you</p>
                    </div>
                    <div class="col">
                        <div class="icon ico5"></div>
                        <p>Meet your match and start you journey</p>
                    </div>
                </div>
                <a class="b-red" href="/app/">Sign up now</a>
            </div>
        </section>
        <section class="container testimonial">
            <h1 class="txtBack">Testimonials</h1>
            <div class="row flex-container">
                <div class="col">
                    <div class="photo pho1"></div>
                    <p><span>CODE Student</span>“It’s hard to find opportunities to exchange each other.”</p>
                </div>
                <div class="col">
                    <div class="photo pho2"></div>
                    <p><span>CODE Student</span>“It is challenging to get to know so many new people that you never met before and to find topics to talk about.” </p>
                </div>
                <div class="col">
                    <div class="photo pho3"></div>
                    <p><span>CODE Student</span>“I simply don’t know when and where to talk all the new students.”</p>
                </div>
            </div>
        </section>

        <footer>
            Copyright Study buddy 2018
        </footer>


        <script type="text/javascript" src="static/assets/lib/jquery-2.0.3.min.js"></script>
        <script type="text/javascript" src="static/assets/lib/scrollreveal.min.js"></script>
        <script type="text/javascript" src="static/assets/js/landing.js"></script>
    </body>
</html>
