.sign-in-wrap {
    background-color: #ffffff;
    box-shadow: 2px 4px 20px 0 rgba(0, 0, 0, 0.08);
    max-width: 480px;
    width: 90%;
    margin: 5% auto 0;
    padding: 80px 80px;
    box-sizing: border-box;
}
.sign-in-wrap h1 {
    font-size: 28px;
    color: #f0424e;
}
.sign-in-wrap p.subTitle {
    max-width: 250px;
    margin-top: 9px;
    margin-bottom: 40px;
}
/* FORM INPUT */

.textFile label {
    position: absolute;
    top: 15px;
    font-size: 16px;
    font-weight: 300;
    color: #bababa;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}
.textFile {
    width: 100%;
    height: auto;
    margin: 15px 0 25px;
    position: relative;
}
.textFile input[type=text],
.textFile input[type=email],
.textFile input[type=number],
.textFile input[type=password]{
    width: 100%;
    height: 30px;
    border: none;
    background: none;
    outline: none;
    border-bottom: 3px solid #e7e7e7;
    background: none;
    padding: 4px 0px;
    font-size: 16px;
    position: relative;
    color: #666666;

}
.activeLine{
    width: 100%!important;
}
label.activeLabel{
    font-size: 12px;
    top: -6px;
    color: #666666;
    font-weight: 400;
    opacity: .6;
}
.lineM{
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 3px;
    width: 0px;
    background:#666666;
    transition: all .3s ease-in-out; -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out; -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.submit {
    display: inline-block;
    padding: 13px;
    width: 100%;
    background: #f0424e;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;

}
input[type=submit] {
    cursor: pointer;
    font-weight: 600;
    width: 100%;
    height: 48px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    background: #f0424e;
    border: 0;
    color: #fff;
    font-size: 20px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    margin-top: 20px;
}
p.notMember {
    text-align: center;
}
p.notMember a {
    font-weight: 600;
    color: #f0424e;
}

/* STEPS FORM */
.steps {
    max-width: 900px;
    padding: 80px 80px 60px;
}
.steps .textFile {
    margin: 15px 0 30px;
}
.steps .textFile label {
    font-weight: 600;
    font-size: 22px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #666666;
    top: 10px;
    width: 100%;
}
.steps label.activeLabel {
    font-weight: 400;
    font-size: 16px;
    top: -15px;

}

/* For Firefox */
.steps input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
.steps input[type=number]::-webkit-inner-spin-button,
.steps input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.steps .textFile input[type=text],
.steps .textFile input[type=email],
.steps .textFile input[type=number],
.steps .textFile input[type=password] {
    text-align: center;
    font-weight: 600;
    font-size: 22px;
    padding: 8px 0px;
}
.submit {
    max-width: 320px;
    border-radius: 2px;
}
.steps input[type=submit] {
    max-width: 320px;
    border-radius: 2px;
}
.steps .go-back {
    text-align: center;
    margin-top: -8px;
}
.steps .go-back a{
    font-weight: 400;
    color: #666666;
    opacity: 0.7;
}
.steps .password label.activeLabel{
    top: -5px;
}
.steps p.subTitle-2{
    font-size: 18px;
    line-height: 120%;
    text-align: center;

}
.steps .subTitle-2 span{
    display: block;
    font-size: 16px;
}

.inputfile + label{
    padding: 0;
    border: 4px solid #d0d0d0;
    width: 210px;
    height: 210px;
    border-radius: 50%;
}
.box {
    text-align: center;
    margin: 30px 0;
}
.box label {
    position: relative;
}
.box label span {
    color: #d0d0d0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.steps .col-3 {
    width: 32%;
    display: inline-block;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}
.steps .icon {
    width: 180px;
    height: 180px;
    border: solid 1px #c2c2c2;
    border-radius: 50%;
    position: relative;
    margin: 0 auto 20px;
}
.steps .icon span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 90%;
}
input[type=checkbox] + label {
    cursor: pointer!important;
}
.checkContainer {
    margin: 40px 0 30px;
}

.debug {
  display: none;
}

.errors {
    height: 100%;
}

.errors p {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #f0424e;
  padding: 0 18px;
  box-sizing: border-box;
  font-weight: bold;
}
